/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	width:100%;
	gap: 1rem;
}
.hero-left{
	flex:.7;
}
img{
	object-fit:cover;
	width:100%;
}
.hero-right{
	display:flex;
	flex:.3;
	text-align: center;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
button{
	color: white;
	background:red;
	border:none;
	border-radius: 3px;
	padding:8px 16px;
}
